body{
	margin: 0;
	padding: 0;
	position: relative;
}

section{
	width: 800px;
	margin: 0 auto;
}

a, a:visited{
	text-decoration: none;
	color: inherit;
}

h1{
	font-family: arial;
	font-size: 100px;
	font-weight: 700px;
	letter-spacing: -3px;
	line-height: 80px;
	color: #333333;
}

.gallery{
	font-family: arial;
	color: #333333;
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 100px;
	height: auto;
	-webkit-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
}

.gallery b{
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
}

.gallery a{
	-webkit-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
}

.gallery a:hover{
	color: #3f81aa;
	border-bottom: 1px solid #3f81aa;
}

.gallery .thumb{
	-webkit-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
	float: left;
	margin-right: 50px;
	margin-bottom: 100px;
}

.gallery .thumb:hover{
	opacity: 0.5;	
}
