body{
	margin: 0;
	padding: 0;
	position: relative;
}

section{
	width: 80%;
	max-width: 50em;
	margin: 0 auto;
}

a, a:visited{
	text-decoration: none;
	color: inherit;
}

h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 100px;
	font-weight: 700;
	letter-spacing: -3px;
	line-height: 80px;
	color: #333333;
}

.back{
	position: fixed;
	top: 0;
	right: 0;
	font-size: 20px;
	padding: 30px;
	-webkit-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
}

.back:hover{
	color: #999;
}
.gallery{
	font-family: 'Open Sans', sans-serif;
	color: #333333;
	font-size: 12px;
	font-weight: 300;
	line-height: 1.5em;
	margin-bottom: 100px;
	height: 270px;
	-webkit-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
}

.gallery b{
	font-weight: 700;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

.gallery a{
	-webkit-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
}

.gallery a:hover{
	color: #3f81aa;
	border-bottom: 1px solid #3f81aa;
}

.gallery .thumb{
	-webkit-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
	float: left;
	margin-right: 50px;
	margin-bottom: 100px;
}

.gallery .thumb:hover{
	opacity: 0.5;	
}
