body{
	margin: 0;
	padding: 0;
}
a:link, a:visited{
	text-decoration: none;
	color: inherit;
}

h1{
	font-family: arial, sans-serif;
	font-size: 70px;
	letter-spacing: -3px;
	color: #333;
	line-height: 60px;
}

button{
	display: block;
	position: fixed;
	top: 10px;
	right: 10px;
	padding: 15px;
	margin: 0;
	background: rgba(255,255,255,0.5);
	border: none;
	z-index: 10000;
	cursor: pointer;
}
#nav .current a{
	color: #fff;
	border-bottom: 2px solid #fff;
}
.container{
	width: 100%;
	margin: 0;
	font-family: arial, sans-serif;
}

.main{
	width: 100%;
	height: 100%;
	font-size: 12px;
	position: relative;
}

.content{
	width: 80%;
	padding-top: 50px;
	margin: 0 auto;
}

.about{
	width: 100%;
	height: 100%;
	background: #c1d9e8;
}

.portfolio{
	width: 100%;
	height: 100%;
	background: #f7f7f7;
}