*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
}
a:link, a:visited{
	text-decoration: none;
	color: inherit;
}

h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 90px;
	font-weight: 700;
	letter-spacing: -3px;
	color: #333;
	line-height: 75px;
}

button{
	display: block;
	position: fixed;
	top: 10px;
	right: 10px;
	padding: 5px 10px;
	margin: 0;
	font-size: 16px;
	background: rgba(255,255,255,0.5);
	border: none;
	z-index: 10000;
	cursor: pointer;
}

button:focus{
	outline: none;
}

#nav .current a{
	color: #fff;
}
.container{
	width: 100%;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.main{
	width: 100%;
	height: 100%;
	height : 100vh;
	font-size: 14px;
	position: relative;
	padding-bottom: 50px;
}

.content{
	width: 80%;
	padding-top: 50px;
	margin: 0 auto;
	font-weight: 400;
	max-width: 55em;
}

.about{
	width: 100%;
	background: #ececec;
	font-size: 14px;
	line-height: 1.5em;
	letter-spacing: 0.5px;
	padding-bottom: 150px;
}

.about img{
	float: left; 
	margin-right: 25px;
}

.portfolio{
	width: 100%;
	min-height: 100px;
	background: #f7f7f7;
	font-size: 14px;
	padding-bottom: 150px;
}

.portfolio .gallery{
	position: relative;
	border-radius: 50%;
	margin: 5px;
	display: inline-block;
	width: 31%;
	min-width: 200px;
	height: auto;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}

.portfolio .gallery img{
	width: 100%;
	height: auto;
}

.portfolio .gallery figcaption{
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px;
	background: rgba(69,204,170,0.9);
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}

.portfolio .gallery:hover figcaption{
	opacity: 1;
}

.portfolio .gallery figcaption p{
	display: block;
	color: #fff;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 0 10px;
}

.contact h1{
	text-align: left;
	text-transform: lowercase;
}

.contact{
	width: 100%;
	min-height: 700px;
	background: #fff;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	text-align: center;
	color: #555;
}

.contact .mail{
	display: inline-block;
	padding: 15px 25px;
	background: #45CCAA;
	border: 1px solid #45CCAA;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}

.contact .mail:hover{
	background: #fff;
	color: #45CCAA;
}

.footer{
	width: 100%;
	padding: 20px;
	background: #333;
	font-size: 10px;
	letter-spacing: 1px;
	color: #fff;
	text-align: center;
}