body{
	margin: 0;
	padding: 0;
}

a, a:visited{
	text-decoration: none;
	color: inherit;
}
section{
	width: 100%;
}

.left{
	padding-top: 150px;
	width: 400px;
	background: #333;
	font-family: arial;
	font-size: 30px;
	color: #fff;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

ul li{
	display: block;
	padding: 10px;
	font-family: arial;
	font-size: 24px;
	font-weight: 700;
	color: #ececec;
	letter-spacing: -1px;
	-webkit-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
}

ul li:hover{
	background-color: #555;
	color: #fff;
}

ul li ul{
	opacity: 0;
	visibility: hidden;
	margin-top: 10px;
	padding: 0;
}

ul li:hover ul{
	opacity: 1;
	visibility: visible;
}