
.nav {
	background: rgba(0,0,0,0.8);
	position: fixed;
}

.nav h3 {
	color: #fff;
	font-size: 100px;	
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	letter-spacing: -2px;
	padding-left: 20px;
	margin: 0;
	margin-top: 118px;
	line-height: 80px;
}

.nav ul{
	list-style: none;
	margin: 0;
	padding: 1.3em;
}

.nav ul li{
	display: block;
	padding: 10px 0;
	color: #bebebe;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 1px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(0,0,0,0);
}

.nav ul li:hover{
	color: #fff;
	border-bottom: 1px solid #fff;
}

.nav-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}


.nav-left {
	left: -240px;
}

.nav-left.nav-open {
	left: 0px;
}

.nav-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.nav-push-toright {
	left: 240px;
}

.nav,
.nav-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}


@media screen and (max-height: 26.375em){

	.nav-vertical {
		font-size: 90%;
		width: 190px;
	}

	.nav-left{
		left: -190px;
	}


	.nav-push-toright {
		left: 190px;
	}
}